[Unit]
Description=Status-Page WSGI Service
Documentation=https://docs.status-page.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=yarden
Group=yarden
PIDFile=/var/tmp/status-page.pid
WorkingDirectory=/opt/status-page/final

ExecStart=/opt/status-page/final/venv/bin/gunicorn --pid /var/tmp/status-page.pid --pythonpath /opt/status-page/final/statuspage --config /opt/status-page/final/gunicorn.py statuspage.wsgi

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
