[Unit]
Description=Status-Page Request Queue Worker
Documentation=https://docs.status-page.dev/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=yarden
Group=yarden
WorkingDirectory=/opt/status-page/final

ExecStart=/opt/status-page/final/venv/bin/python3 /opt/status-page/final/statuspage/manage.py rqworker high default low

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
